<?xml version="1.0"?>
<!--
 * @category    TheExtensionLab
 * @package     TheExtensionLab_MultiselectFilters
 * @copyright   Copyright (c) TheExtensionLab (http://www.theextensionlab.com)
 * @license     Open Software License (OSL 3.0)
 * @author      James Anelay @ TheExtensionLab <james@theextensionlab.com>
 *
-->
<config>
    <modules>
        <TheExtensionLab_MultiselectFilters>
            <version>0.1.0</version>
        </TheExtensionLab_MultiselectFilters>
    </modules>

    <global>
        <blocks>
            <theextensionlab_multiselectfilters>
                <class>TheExtensionLab_MultiselectFilters_Block</class>
            </theextensionlab_multiselectfilters>
        </blocks>

        <models>
            <theextensionlab_multiselectfilters>
                <class>TheExtensionLab_MultiselectFilters_Model</class>
            </theextensionlab_multiselectfilters>
        </models>
    </global>

    <adminhtml>

        <layout>
            <updates>
                <theextensionlab_multiselectfilters>
                    <file>theextensionlab/multiselectfilters.xml</file>
                </theextensionlab_multiselectfilters>
            </updates>
        </layout>

        <events>
            <core_block_abstract_to_html_before>
                <observers>
                    <theextensionlab_multiselectfilters>
                        <class>theextensionlab_multiselectfilters/observer</class>
                        <method>coreBlockAbstractToHtmlBefore</method>
                    </theextensionlab_multiselectfilters>
                </observers>
            </core_block_abstract_to_html_before>

            <core_block_abstract_to_html_after>
                <observers>
                    <theextensionlab_multiselectfilters>
                        <class>theextensionlab_multiselectfilters/observer</class>
                        <method>coreBlockAbstractToHtmlAfter</method>
                    </theextensionlab_multiselectfilters>
                </observers>
            </core_block_abstract_to_html_after>
        </events>
    </adminhtml>

    <phpunit>
        <suite>
            <modules>
                <TheExtensionLab_MultiselectFilters/>
            </modules>
        </suite>
    </phpunit>
</config>